.image-container {
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 480px) {
  /* mobile */
  .image-container {
    border-radius: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  /* large mobile */
  .image-container {
    border-radius: 0;
  }
}