.image-container {
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 30rem) {
  /* mobile */
  .image-container {
    border-radius: 0;
  }
}

@media screen and (min-width: 30.0625rem) and (max-width: 47.9375rem) {
  /* large mobile */
  .image-container {
    border-radius: 0;
  }
}