.heading {
  font-family: var(--young-serif);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 0rem;
  color: var(--stone-900);
  margin-bottom: 1.5rem;
}

.description {
  font-family: var(--outfit);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
  color: var(--stone-600);
}

.section-heading {
  font-family: var(--young-serif);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 100%;
  letter-spacing: 0rem;
  color: var(--brown-800);
  margin-bottom: 1.469rem;
}

.preparation-section {
  background-color: var(--rose-50);
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 0.75rem;
}

.preparation-section h2 {
  font-family: var(--outfit);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: 0rem;
  color: var(--rose-800);
  margin-bottom: 1rem;
}

.preparation-section ul {
  margin-left: 1.5rem;
}

.preparation-section ul li {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  font-family: var(--outfit);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
  color: var(--stone-600);
}

.preparation-section ul li:last-child {
  margin-bottom: 0;
}

.preparation-section ul li::marker {
  color: var(--rose-800);
  font-size: 0.75rem;
}

.preparation-section ul li span {
  font-family: var(--outfit);
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
}

.ingredients-section ul {
  margin-left: 1.5rem;
}

.ingredients-section ul li {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  font-family: var(--outfit);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
  color: var(--stone-600);
}

.ingredients-section ul li:last-child {
  margin-bottom: 0;
}

.ingredients-section ul li::marker {
  color: var(--brown-800);
  font-size: 0.75rem;
}

.separator {
  border: none;
  border-top: 1px solid var(--stone-150);
  margin: 2rem 0;
}

.instructions-section ol {
  margin-left: 1.5rem;
}

.instructions-section ol li {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  font-family: var(--outfit);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
  color: var(--stone-600);
}

.instructions-section ol li span {
  font-family: var(--outfit);
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
}

.instructions-section ol li:last-child {
  margin-bottom: 0;
}

.instructions-section ol li::marker {
  color: var(--brown-800);
  font-family: var(--outfit);
  font-size: 1rem;
  font-weight: 700;
}

.nutrition-section p {
  font-family: var(--outfit);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
  color: var(--stone-600);
  margin-bottom: 0.75rem;
}

.nutrition-section table {
  display: flex;
}

.nutrition-section table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nutrition-section table tbody tr {
  display: flex;
  width: 100%;
  padding: 0.719rem 2rem;
  border-bottom: 1px solid var(--stone-150);
}

.nutrition-section table tbody tr:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.nutrition-section table tbody tr td {
  flex: 1;
  font-family: var(--outfit);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
  color: var(--stone-600);
}

.nutrition-section table tbody tr td:last-child {
  font-family: var(--outfit);
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
  color: var(--brown-800);
  padding-left: 1rem;
}

@media screen and (max-width: 480px) {
  /* mobile */
  .root-container {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  /* large mobile */
  .root-container {
    padding: 2.5rem;
  }
}
