.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 46%;
  margin: 8rem 0;
  padding: 2.5rem;
  border-radius: 1.5rem;
}

@media screen and (max-width: 480px) {
  /* mobile */
  .container {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  /* large mobile */
  .container {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* tablets */
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /* laptops */
  .container {
    width: 46%;
  }
}

@media screen and (min-width: 1440px) {
  /* desktops & wide screens */
  .container {
    width: 46%;
  }
}
