.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 46%;
  margin: 8rem 0;
  padding: 2.5rem;
  border-radius: 1.5rem;
}

@media screen and (max-width: 30rem) {
  /* mobile */
  .container {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }
}

@media screen and (min-width: 30.0625rem) and (max-width: 47.9375rem) {
  /* large mobile */
  .container {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }
}

@media screen and (min-width: 48rem) and (max-width: 63.9375rem) {
  /* tablets */
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 64rem) and (max-width: 89.9375rem) {
  /* laptops */
  .container {
    width: 46%;
  }
}

@media screen and (min-width: 90rem) {
  /* desktops & wide screens */
  .container {
    width: 46%;
  }
}
